* {font-size: 100.01%;}
html {font-size: 62.5%;}
body{
	margin: 0;
	color: #000;
	font: 11px SourceSansPro, source_sans_proregular, Arial, Helvetica, sans-serif;
	background-color: #fff;
}
img{
	border-style: none;
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{text-decoration: none;}
input,
textarea,
select{
	font: 100% source_sans_proregular, arial,sans-serif;
	vertical-align: middle;
}
form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
header, footer, article, section, hgroup, nav, figure { display: block; }
ul{
	margin:0;
	padding:0;
	list-style:none;
}
q{quotes:none;}
q:before{content:''}
q:after{content:''}
#wrapper{
	margin: 0 auto;
}

.clear-fix {
	clear: both;
}

.container{
	padding: 0 17%;
	margin: 0 auto;
	max-width: 965px;
	min-width: 610px;
}
.container:after{
	display: block;
	content:'';
	clear: both;
}

.logo{
	float: left;
	margin: 0;
	width: 371px;
	min-width: 370px;
	height: 124px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/logo.png) no-repeat;
}
.logo a{
	display: block;
	width: 100%;
	height: 100%;
}

.follows {
	float: right;
	height: 20px;
	margin-top: 100px;
	padding-right: 2%;
}
#tw-small,
#youtube-small {
	height: 20px;
}
#tw-small,
#youtube-small {	
	padding-left: 4px;
}
#tw-small {
	float:left;
	margin-right: -10px;
    background: url(../images/small-tw.gif) no-repeat 100% 100% ;
}
#youtube-small {
	display: inline-block;
	margin-left: 20px;
	margin-right: -10px;
	background: url(../images/small-youtube.gif) no-repeat 100% 100% ;
}
.follows a{	
	display: inline-block;
	padding-left: 19px;
	height: 15px;
	text-align: left;
}
	
nav{
	height: 51px;
	background: url(../images/bg-nav-repeatable.png) repeat-x;
	margin: 0px;
	padding: 0px;
	margin-top: 15px;
}
nav ul {
	list-style: none;
	height: 49px;	
	margin: 0 auto;
	padding: 0 18% 0 18%;
	text-align: justify;
}
nav li{
	display: inline-block;
	float: left;
	min-width: 12%;
	background: url(../images/nav-sep.gif) repeat-y;
	text-align: center;
	position: relative;
}
nav li a{
	float: left;
	padding-top: 17px;
	padding-bottom: 17px;
	width: 100%;
	font-size: 1.2em;
	text-align: center;
	text-shadow: 1px 1px 1px #ffffff;
}

#nav-home {
	width: 13%;
}
#nav-about {
	width: 16.5%;
}
#nav-media {
	width: 20.5%;
}
#nav-why {
	width: 30.5%;
}
#nav-action {
	width: 19%;
}

menu{
	position: absolute;
	top: 52px;
	width: 118px;
	background-color: #1C4C8E;
	display: none;
	z-index: 11;
}
menu li {
	margin-left: -40px;
	width: 158px;
	height: 28px;
	background: linear-gradient(to top, #D3D3D3 0%, #ECECEC 36%, #fff 100%);
	text-align: left;
}
menu li:hover{
	background: linear-gradient(to top, #D88B06 0%, #FBA809 36%, #fff 100%);
	text-align: left;
}
menu li a{
	padding-top: 8px;
}

.dark-blue-txt {
    color: #184482;
}
.light-blue-txt {
    color: #3B74DD;
}
.red-txt {
    color: #D30E21;
}

/* main begin */
main{
	background-color: #1C4C8E;
	background: url(../images/bg-flag.jpg) repeat;
	padding-bottom: 45px;
}
main  .container {
	padding-top: 45px;
}
main * {
	border-radius: 4px;
}
/* main end */

/* gallery begin */
.gallery {
	width: 606px;
	border: 1px solid #000;
	position: relative;
	overflow: hidden;
	float: left;
}
.slider-holder img{
	width: 101%;
	max-width: 101%;
}

.gallery, .slider-holder, .joiner {
	height: 339px;
}
.slider-holder{
	width:604px;
}
.gallery .prev-btn,
.gallery .next-btn {
	width: 26px;
	height: 26px;
	cursor: pointer;
	position: absolute;
	bottom: 15px;
	border-radius: 1px;
	text-indent: -9999px;
	z-index: 20;
	top: 88%;
}
.gallery .prev-btn {
	background: url(../images/btn-prev.png) no-repeat;
	left: 15px;
}
.gallery .next-btn {
	background: url(../images/btn-next.png) no-repeat;
	left: 47px;
}
/* gallery end */

.right-side {
	display: inline-block;
	width: 315px;
	margin-left: 2.6%;
}

.shadow-bordered {
    box-shadow: 1px 3px 0 #DCDCDC;
	border-radius: 5px;
}
  
/* joiner begin*/
.joiner {
	display: inline-block;
	border: 1px solid #000;
	background: url(../images/bg-join.png) repeat;
	overflow: hidden;
}
.join-form {
	height: 341px; 
	margin-right: 8%;
	margin-left: 8%;
}
#join,
.joiner a {
	margin-top: 30px;
	margin-bottom: 10px;
	height: 32px;
}
#join{	
	float: left;
	width: 27px;
	background: url(../images/icon-petition.gif) no-repeat 100% 100%;
}
.joiner a,
 .joiner span {
	font-family: FuturaStd-Condensed, Arial;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
 }
.joiner a {
	display: inline-block;
	padding-left: 10px;
	font-size: 3.2em;
}
.joiner span {
	display: block;
	margin-top: 5px;
	height: 30px;	
	font-size: 1.5em;
}
.joiner #send-join,
.joiner input {
	text-align: left;
	margin-top: 18px;
	border-width: 0px;
}
.joiner input {
	border: 1px solid #000;
	height: 35px;
	font-size: 1.5em;
	padding-left: 10px;
	width: 246px;
}
.joiner #send-join {
	width: 100%;
	background: url(../images/btn-signup.png) no-repeat 100% 100% ;
	height: 45px;
	width: 98%;
	display: block;
}
/* joiner end*/

/* sections begin */
#sections {
	background-color: #F1F1F1;	
	padding-top: 40px;
	padding-bottom: 47px;
	border-bottom: 1px solid #DCDCDC;
}
#sections h3 {
	font-size: 1.8em;
	font-weight: normal;
}
#sections img {
	float: left;
}
section {
	width: 89%;
	padding: 15px 5% 15px 4%;
}
time {
	font-size: 1.1em;
}
#news {
	float: left;
	width: 576px;
	background-color: #fff;
	border-top: 1px solid #DCDCDC;
	border-left: 1px solid #DCDCDC;
	padding: 30px 0px 35px 30px;
}
#news > h3 {
	font-family: FuturaStd-Condensed, Arial;
	text-transform: uppercase;
	font-size: 1.9em;
	margin-bottom: 5px;
	margin-left: 25px;
}
article {
	display: inline-block;
	padding-left: 3%;
	width: 73.5%;
}
article * {
	margin: 5px 0;
}
article span {
	font-size: 1.15em;
}
article a {
	font-family: arial;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
}
.news-dates {
	font-size: 0.9em;
	font-weight: bold;
}
.underline{
	height:	2px;
	background: url(../images/underline.png) repeat-x 100% 100%;
	margin-top: 15px;
}
/* sections end */

/* aside begin */
aside div {
	margin-top: -20px;
}
aside div {
	background-color: #fff;
	/*margin-top: -5px;*/
	height: 288px;
	margin-bottom: 30px;
}
aside h4 {
	font-family: FuturaStd-Condensed, Arial;
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 5% 5%;
}
aside img {
	margin-top: -5%;
}
aside a {
	display: block;
	float: right;
	font-family: arial;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	margin-right: 5%;
	margin-top: 4%;
}
aside .tk {
	margin-top: 30px;
	background: white url("../images/tk.png") no-repeat scroll 50% 50%;
}
aside .tk a {
	margin-top: 60%;
}
/* aside end */

/* footer */
footer {
	margin-top: 30px;
	width:100%;
}
footer .container {
	overflow: hidden;
}
footer .container ul li.first_level {
	float: left;
}
footer .container .logo-footer {
	display:block;
	float: left;
	width:143px;
	height:126px;
	margin-right: 6.7%;
	background: url(../images/logo-footer.png) no-repeat 100% 100%;
}
footer .container .logo-footer a {
	display: block;
	width:100%;
	height:100%;
}
footer *,
footer a {
	color: #8D8D8D;
	font-size: 1.015em;
	line-height: 25px;
}
footer h3 {
	font-family: FuturaStd-Condensed, Arial;
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: normal;
}

#socials {
	margin-top: -10px;
	margin-bottom: 10px;
	height: 31px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
}
#social-tw {
	float: left;
    background: url(../images/social-tw.gif) no-repeat 100% 100% ;
}
#social-youtube {
	display: inline-block;
	background: url(../images/social-youtube.gif) no-repeat 100% 100% ;
}
#social-tw,
#social-youtube {
	width: 31px;
	height:31px;
}
#social-tw a,
#social-youtube a {
	display: block;
	width: 100%;
	height: 100%;
}

footer .container .social {
	margin-left: 36px;
}
footer .container ul li ul li {
	float:none;
}
footer .container ul li ul.second_level {
	margin-top: 44px;
}
footer .container ul li ul.second_level li a{
	line-height: 17px;
}

#final a{
    line-height: 33px;
}

footer .container  ul li.first_level:nth-child(1){margin-right: 5%; margin-top: -15px;}
footer .container  ul li.first_level:nth-child(2){margin-right: 9%; margin-top: -15px;}
footer .container  ul li.first_level:nth-child(3){margin-right: 10%; margin-top: -15px;}
